<div class="relative">
  <img src="assets/main_banner_bg.png" alt="" class="w-full hidden md:block z-10" />
  <img src="assets/main_banner_bg_sm.png" alt="" class="w-full md:hidden" />

  <div
    class="absolute inset-0 flex flex-col items-center md:items-start justify-end md:justify-center pb-24 md:pb-0 px-4 md:pl-18 lg:pl-24"
  >
    <h1
      class="text-3xl md:text-4xl lg:text-5xl font-bold text-center md:text-left max-w-72 md:max-w-80 lg:max-w-105 leading-tight lg:leading-15"
    >
      Freshness You Can Trust, Savings You will Love!
    </h1>

    <div class="flex items-center mt-6 font-medium">
      <a
        class="group flex items-center gap-2 px-7 md:px-9 py-3 bg-primary hover:bg-primary-dull transition rounded text-white cursor-pointer"
        routerLink="all-products"
        data-discover="true"
        >Shop now<img
          class="md:hidden transition group-focus:translate-x-1"
          alt="arrow"
          src="data:image/svg+xml,%3csvg%20width='16'%20height='12'%20viewBox='0%200%2016%2012'%20fill='none'%20xmlns='http://www.w3.org/2000/svg'%3e%3cpath%20d='M1.64151%205.76562L14.7324%205.76562'%20stroke='white'%20stroke-width='1.5'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3cpath%20d='M9.58956%200.894889L14.7324%205.76532L9.58956%2010.6357'%20stroke='white'%20stroke-width='1.5'%20stroke-linecap='round'%20stroke-linejoin='round'/%3e%3c/svg%3e" /></a
      ><a
        class="group hidden md:flex items-center gap-2 px-9 py-3 cursor-pointer"
        href=""
        data-discover="true"
        >Explore deals<img
          class="transition group-hover:translate-x-1 scale-x-[-1]"
          alt="arrow"
          src="assets/arrow_right_icon_colored.svg"
      /></a>
    </div>
  </div>
</div>
