<section class="mt-25">
  <p class="text-2xl md:text-3xl font-medium">Categories</p>

  <!-- Categories container -->
  <div
    class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-5 lg:grid-cols-6 xl:grid-cols-7 mt-6 gap-6"
  >
    <!-- Category  -->
    <div
      class="group cursor-pointer py-5 px-3 gap-2 rounded-lg flex flex-col justify-center items-center bg-[#fef6da]"
      (click)="goToCategory('vegetables')"
    >
      <img
        src="assets/organic_vegitable_image.png"
        alt=""
        class="group-hover:scale-108 transition max-w-28"
      />
      <p class="text-sm font-medium">Organic veggies</p>
    </div>

    <div
      class="group cursor-pointer py-5 px-3 gap-2 rounded-lg flex flex-col justify-center items-center"
      style="background-color: rgb(254, 224, 224)"
      (click)="goToCategory('fruits')"
    >
      <img
        class="group-hover:scale-108 transition max-w-28"
        alt="vegitable"
        src="/assets/fresh_fruits_image.png"
      />
      <p class="text-sm font-medium">Fresh Fruits</p>
    </div>

    <div
      class="group cursor-pointer py-5 px-3 gap-2 rounded-lg flex flex-col justify-center items-center"
      style="background-color: rgb(240, 245, 222)"
      (click)="goToCategory('drinks')"
    >
      <img
        class="group-hover:scale-108 transition max-w-28"
        alt="vegitable"
        src="/assets/bottles_image.png"
      />
      <p class="text-sm font-medium">Cold Drinks</p>
    </div>

    <div
      class="group cursor-pointer py-5 px-3 gap-2 rounded-lg flex flex-col justify-center items-center"
      style="background-color: rgb(225, 245, 236)"
      (click)="goToCategory('instant')"
    >
      <img
        class="group-hover:scale-108 transition max-w-28"
        alt="vegitable"
        src="/assets/maggi_image.png"
      />
      <p class="text-sm font-medium">Instant Food</p>
    </div>

    <div
      class="group cursor-pointer py-5 px-3 gap-2 rounded-lg flex flex-col justify-center items-center"
      style="background-color: rgb(254, 230, 205)"
      (click)="goToCategory('dairy')"
    >
      <img
        class="group-hover:scale-108 transition max-w-28"
        alt="vegitable"
        src="/assets/dairy_product_image.png"
      />
      <p class="text-sm font-medium">Dairy Products</p>
    </div>

    <div
      class="group cursor-pointer py-5 px-3 gap-2 rounded-lg flex flex-col justify-center items-center"
      style="background-color: rgb(224, 246, 254)"
      (click)="goToCategory('bakery')"
    >
      <img
        class="group-hover:scale-108 transition max-w-28"
        alt="vegitable"
        src="/assets/bakery_image.png"
      />
      <p class="text-sm font-medium">Bakery &amp; Breads</p>
    </div>

    <div
      class="group cursor-pointer py-5 px-3 gap-2 rounded-lg flex flex-col justify-center items-center"
      style="background-color: rgb(241, 227, 249)"
      (click)="goToCategory('grains')"
    >
      <img
        class="group-hover:scale-108 transition max-w-28"
        alt="vegitable"
        src="/assets/grain_image.png"
      />
      <p class="text-sm font-medium">Grains &amp; Cereals</p>
    </div>
  </div>
</section>
