<div class="no-scrollbar flex-1 h-[95vh] overflow-y-scroll flex flex-col justify-between w-[800px]">
  <form class="bg-white shadow-md rounded-lg flex-1 px-4 md:px-10 py-10 space-y-5">
    
    <div>
      <p class="text-base font-medium">Product Image</p>
      <div class="flex flex-wrap items-center gap-3 mt-2">
        <label for="image0">
          <input
            accept="image/png, image/jpeg image/jpg"
            id="image0"
            hidden
            type="file"
          />
          <img
            class="max-w-24 cursor-pointer"
            alt=""
            width="100"
            height="100"
            src="/assets/upload_area.png"
          />
        </label>
      </div>
    </div>

    <div class="flex flex-col gap-1">
      <label class="text-base font-medium" for="product-name">Product Name</label>
      <input
        id="product-name"
        placeholder="Type here"
        class="outline-none md:py-2.5 py-2 px-3 rounded border border-gray-500/40 w-full"
        required
        type="text"
      />
    </div>

    <div class="flex flex-col gap-1">
      <label class="text-base font-medium" for="product-description">Product Description</label>
      <textarea
        id="product-description"
        rows="4"
        class="outline-none md:py-2.5 py-2 px-3 rounded border border-gray-500/40 resize-none w-full"
        placeholder="Type here"
      ></textarea>
    </div>

    <div class="flex flex-col gap-1">
      <label class="text-base font-medium" for="category">Category</label>
      <select
        id="category"
        class="outline-none md:py-2.5 py-2 px-3 rounded border border-gray-500/40 w-full"
      >
        <option value="">Select Category</option>
        <option value="Vegetables">Vegetables</option>
        <option value="Fruits">Fruits</option>
        <option value="Drinks">Drinks</option>
        <option value="Instant">Instant</option>
        <option value="Dairy">Dairy</option>
        <option value="Bakery">Bakery</option>
        <option value="Grains">Grains</option>
      </select>
    </div>

    <div class="flex items-center gap-5 flex-wrap">
      <div class="flex-1 flex flex-col gap-1">
        <label class="text-base font-medium" for="product-price">Product Price</label>
        <input
          id="product-price"
          placeholder="0"
          class="outline-none md:py-2.5 py-2 px-3 rounded border border-gray-500/40 w-full"
          required
          type="number"
        />
      </div>
    </div>

    <button class="w-full py-2.5 bg-primary text-white font-medium rounded">
      ADD
    </button>
    
  </form>
</div>
